.food-page{
    margin-top: 10rem;
}
.cart-add-btn{
    background: orange;
    width: 100%;
    border: none;
    border-radius: 25px;
}
.cart-add-btn:hover{
    font-weight: bold;
}
.in-cart{
   margin-top: 7rem;
}
.in-cart-tit{
    margin: auto;
    font-size: xx-large;
    text-align: center;
}
.item-price{
    color: brown;
    font-size: medium;
    font-weight: bold;
}
.bef-price{
    font-size: 12px !important;
    color: gray;
    
}
.cart-close{
    background: black;
    color: white;
}