.auth-container{
    background: rgb(95, 199, 247);
    height: 90vh;
    margin-top: 3.5rem;
}
.auth-row{
    width: 80%;
    margin: auto;
    height: 80vh;
}
.auth-col-1{
    background-color: white;
    min-height: 70vh;
}

.auth-col-2{
    background-color: rgb(68, 152, 248);
    min-height: 70vh;
}
.auth-row-signup{
    max-width: 60%;
    margin: auto;
}
.login-head{
    margin-right: auto;
    margin-left: auto;
}
.login-head h1{
     margin-right: auto;
    margin-left: auto;
}
.login-head p{
     margin-right: auto;
    margin-left: auto;
}
.google-signin{
    border: 2px solid gray;
    border-radius: 25px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.google-signin:hover{
    cursor: pointer;
        border: 2px solid orange;
        transition: ease-in-out;
}
.or{
    width: 70%;
    font-size: medium;
    margin-right: auto;
    margin-left: auto;
}
.login-form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.login-tit{
    width: 70%;
 margin-right: auto !important;
    margin-left: auto !important;
}
.login-slo{
    width: 70%;
 margin-right: auto;
    margin-left: auto;
}
.login-btn{
    width: 100%;
    border-radius: 25px;
}