.home-page{
    background: url("../../assets/images/home_img.jpg") no-repeat center fixed;
    background-size: cover;
    max-width: 100%;
    height: 90vh;
    margin-top: 3.5rem;
}

.food-title h1{
    color: white;
    font-weight: 600;
    padding-top: 5rem;
    font-size: 5rem;
}
.food-title p{
    color: white;
    font-weight: 600;
    padding-top: 5rem;
    font-size: 3rem;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.cat-choice{
max-width: 60%;
width: 60%;
margin-left: auto;
margin-right: auto;
margin-top: 2rem;
}