@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.shop-cart{
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.signup-btn{
    background: orange;
    color: white;
    padding: .5rem;
    border-radius: 25px;
}
.prof-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}